.navbar{
	display: flex;
	height: 70px;
	background: black;
	}
.logo{
	display: flex;
	align-items: center;
	font-size: 50px;
	color: white;
	width: 70%;
}
.register{
	display: flex;
	align-items: center;
	justify-content:center;
	width: 15%;
}
.login{
	display: flex;
	align-items: center;
	justify-content:center;
	width: 15%;
	
}
button{
	width:150px;
	background: blue;
	color: white;
	height: 30px;
	font-size: 20px;
	
}